* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    background: #2a4c9b;
    background: linear-gradient(90deg, rgba(42, 76, 155, 1) 0%, rgba(214, 214, 214, 1) 100%, rgba(164, 184, 110, 1) 100%, rgba(237, 221, 83, 1) 59%, rgba(87, 199, 133, 1) 100%);
}

.top-container {
   display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;

}

.top-container h3,
.top-container i {

    display: inline-block;
    color: white;


}

.location-icon {
    margin-right: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.input-box {
    height: 60px;
    width: 90%;
    max-width: 767px;
    border: 1px solid rgb(220, 228, 255);
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;

    /* border: none; */
}

form input {
    background-color: transparent;

    border: none;
    margin-left: 20px;
}
#search-city{
     color: white;
    font-size: 17px;
    background-color: transparent;
    border: none;
}
#search-city::placeholder {
   color: rgb(226, 226, 226);
    font-size: 17px;
}
#search-city:focus {
    outline: none;
}

form input:focus {
    outline: none;
    color: white;
    font-size: 17px;
}

button {
    width: 39px;
    height: 39px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border: #949494;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;


}

button i {
    color: white;
}

section {
    display: flex;

    justify-content: center;
}

.weather-card {
    margin-top: 31px;
    height: 509px;
     width: 90%;
    max-width: 767px;
    /* border: 1px solid black; */
    border-radius: 27px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(72, 72, 181, 1) 0%, rgba(107, 195, 209, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon img {
    height: 150px;
    width: 150px;
    display: none;
}

.weather-info {
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    padding-left: 0;
    text-align: center;
}

#celcious {

    font-size: 77px;
    font-weight: 200;
}

#weather {
    font-size: 20px;
    font-weight: 100;
    
}

#feels-like {
    margin-top: 5px;
    padding-left: 10px;
    margin-left: 10px;
}

.weather-details {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;


}

.detail-box {
    height: 100px;
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
     box-sizing: border-box;
    padding-top: 13px;
    background-color: rgba(255, 255, 255, 0.1);

}

.icon img {
    height: 35px;
    width: 35px;
    margin-top: 3px;
}

.h-heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    color: rgb(249, 249, 249);
}

.h-percentage {
    margin-top: 4px;
    margin-left: 20px;
    color: white;
    font-size: 21px;
}

@media (max-width: 600px){
      .input-box {
        height: 50px;
    }

    #celcious {
        font-size: 50px;
    }

    #weather {
        font-size: 16px;
        margin-left: 0;
        text-align: center;
    }

    .weather-details {
        height: auto;
        padding-bottom: 20px;
    }

    .detail-box {
        width: 140px;
        height: 90px;
    }

    .top-container h3 {
        font-size: 18px;
    }
}
@media (max-width: 900px) {

    .weather-card {
        height: auto;
        padding-bottom: 20px;
    }

    .detail-box {
        width: 160px;
    }
}